*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bentham';
}

body{
    background: var(--bg-color)!important;
}

.prata{
  font-family: 'Prata';
}

.baloo{
  font-family: 'Baloo-Bhai-2';
}

:root{
  --first-color:#292d4e;
  --second-color:#d90368 ;
  --third-color:#dc815d ;
  --fourth-color:#f1e9da;
    --bg-color:#08080e;
    --margin-top:200px;
}

.first-color{
  color: var(--first-color)!important;
}
.second-color{
  color: var(--second-color)!important;
}
.third-color{
  color: var(--third-color)!important;
}
.fourth-color{
  color: var(--fourth-color)!important;
}
.bg-color{
  color: var(--bg-color)!important;
}
.first-bg{
  background-color: var(--first-color)!important;
}
.second-bg{
  background-color: var(--second-color)!important;
}
.third-bg{
  background-color: var(--third-color)!important;
}
.fourth-bg{
  background-color: var(--fourth-color)!important;
}
.bg-bg{
  background-color: var(--bg-color)!important;
}
.mar-top{
  margin-top: var(--margin-top);
}

header{
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: url('media/cocktail.jpg');
}

/* ? SCROLL NAV */
.navbar{
  transition: all 0.1s;
}

.navbar-scrolled{
  background-color: var(--bg-color);
  box-shadow: 0 3px 10px var(0, 0, 0, 0.15);
}


/* ?  GALLERIA */

.image-wrapper img{
  max-width: 100%!important;
  max-height: 100%!important;
} */

.carousel-item {
  height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  max-width: 33.33%;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .carousel,.nope {
    display: none;
  }
  .navbar{
    background-color: #08080e;
  }
}


/* ? DETAIL PAGE  */

.bg-detail{
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('https://img.lovepik.com/background/20211022/medium/lovepik-black-creative-background-image_500871987.jpg') no-repeat center!important;
  background-size: cover!important;
}

.custom-img-style {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}


/* ? STORIA */

.old img{
  filter: grayscale(100%);
}

.old:hover img {
  filter: none;
}

